{% extends 'myapp/watchman-index.html'  %}    

{% load static %}
{% block content %}      
<section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Add Watchman <small class="text-muted">Welcome to Digital Society</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                        
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="{% static 'myapp\dashboard\index.html' %}"><i class="zmdi zmdi-home"></i> Digital Society</a></li>
                                                            <li class="breadcrumb-item">Watchman</li>
                                                                                        <li class="breadcrumb-item active">Add Watchman</li>
                                                    </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2><strong>Add</strong> Watchman</h2>
                <ul class="header-dropdown">                            
                    <li class="remove">
                        <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                    </li>
                </ul>
            </div>
            {% if msg %}
                <div class="alert alert-primary" role="alert">
                {{msg}}
                </div>
            {% endif %}
            <form action="{% url 'add-visitor' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email"  placeholder="email">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="firstname"  placeholder="First Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="lastname" placeholder="Last Name">
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input type="text" class="form-control" name="contact" placeholder="contact">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input type="text" class="form-control" name="Nametomeet" placeholder="Nametomeet">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input type="text" class="form-control" name="block_no" placeholder="block_no">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input type="text" class="form-control" name="house_no" placeholder="house_no">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input type="file" class="form-control" name="pic" placeholder="pic">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <textarea rows="4" class="form-control no-resize" name="address" placeholder="address"></textarea>
                            </div>
                        </div>
                        
                        <div class="col-sm-12">
                            <input type="submit" class="btn btn-primary btn-round" value="Add visitor">
                            <input type="submit" class="btn btn-primary btn-round" value="Cancle">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

            </div>
        </section>
{% endblock %}              