<!DOCTYPE html>
<html>

   <head>
      <title>HTML Table Header</title>
   </head>
	
   <body>

    <h2> welcome to digital society</h2>

    <p> Your Details: </p>
      <table border = "1">
         <tr>
            <th>firstname</th>
            <th>lastname</th>
            <th>contact</th>
         </tr>
         <tr>
            <td>{{data.cid.firstname}}</td>
            <td>{{data.cid.lastname}}</td>
            <td>{{data.cid.contact}}</td>
         </tr>
         
         
      </table>
   </body>
   
</html>